# This file is released into the public domain. See COPYING.

*.pbo
.hemttout
hemtt
hemtt.exe
*.biprivatekey
*.hemttprivatekey
/.cache

/build
/VanguardRadioIPC.so
/VanguardRadioIPC.dll
/VanguardRadioIPC_x64.dll
